<!DOCTYPE html>
<html>
<head>
  <title>がぞ☆ちず</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_tag "path = {root: '#{root_path.gsub(/^\//, '')}'}" %>
  <%= javascript_include_tag "application" %>
  <% schema = (request.ssl?) ? 'https' : 'http' %>
  <%= javascript_include_tag "#{schema}://maps.google.com/maps/api/js?sensor=true" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<header>
  <%= image_tag "logo-S.png" %>
  <div id="menu">
    <%#= image_tag("sign-in-with-twitter-l.png") %>
<%
# TODO
%>
<% if user_signed_in? %>
  Logged in as <%= current_user.name %>
  <%= link_to('Logout', signout_path) %>        
<% else %>
  <%= link_to('Login', signin_path)  %>  
<% end %>

  </div>
  <div id="upload_form">
    <%= form_for(@post) do |f| %>
      <%= f.file_field :photo %><br>
      <%= f.text_field :comment %><%= f.submit %>
    <% end %>
  </div>
</header>

<div id="content">
<%= yield %>
</div>
<footer>
  &copy; Copyright 2011 yokohama.rb &amp; minami.rb
</footer>
</div>
</body>
</html>
