<!DOCTYPE html>
<html>
<head>
  <title>がぞ☆ちず</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_tag "
      if(typeof(WebSocket) === 'undefined')
        WEB_SOCKET_DEBUG = true;
        WEB_SOCKET_SWF_LOCATION = '/WebSocketMain.swf'; " %>
  <%= javascript_tag "path = {root: '#{root_path.gsub(/^\//, '')}'}" %>
  <%= javascript_include_tag "application" %>
  <% schema = (request.ssl?) ? 'https' : 'http' %>
  <%= javascript_include_tag "#{schema}://maps.google.com/maps/api/js?sensor=true" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<header>
  <%= image_tag "logo-S.png" %>
  <div id="menu">
<%
# TODO
%>
<% if user_signed_in? %>
  Logged in as <%= current_user.name %>
  <%= link_to('Logout', signout_path) %>        
<% else %>
  <%= link_to('Login', signin_path)  %>  
<% end %>

  </div>

  <div id="upload_form">
<% if user_signed_in? %>
    <%= form_for(@post) do |f| %>
      ファイル:&nbsp;<%= f.file_field :photo, :size => 40 %><br>
      コメント:&nbsp;<%= f.text_field :comment, :size => 40 %><br>
      <div style="text-align: right;">
      <div id="new_post_error" class="alert"></div>
      <div id="notice"></div>
      <%= f.submit '送信', :id => 'upload' %>
      </div>
    <% end %>
<% end %>
  </div>
  <div id="progress"></div>

</header>

<div id="content">
<%= yield %>
</div>
<footer>
  &copy; Copyright 2011 yokohama.rb &amp; minami.rb
</footer>
</div>
</body>
</html>
