<!DOCTYPE html>
<html>
<head>
  <title>がぞ☆ちず</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_tag "path = {root: '#{root_path.gsub(/^\//, '')}'}; I18n = {t: #{I18n.t('js').to_json}}" %>
  <%= javascript_include_tag "application" %>
  <% schema = (request.ssl?) ? 'https' : 'http' %>
  <%= javascript_include_tag "#{schema}://maps.google.com/maps/api/js?sensor=true" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<header>
  <%= image_tag "logo-S.png" %>
  <div id="menu">
    <% if user_signed_in? %>
      Logged in as <%= current_user.name %>
      <%= link_to('Logout', signout_path) %>
    <% else %>
      <%= link_to(image_tag('sign-in-with-twitter-l.png'), signin_path)  %>
    <% end %>
  </div>
  <% if true || user_signed_in? %>
    <div id="upload_form">  
      <%= ws_form_for(@post) do |f| %>
        ファイル:&nbsp;<%= f.file_field :photo, :size => 40 %><br>
        コメント:&nbsp;<%= f.text_field :comment, :size => 40 %><br>
        <%= hidden_field_tag :session_string, request.cookies["_horai_session"] %>
        <div style="text-align: right;">
        <div id="errors" class="alert"></div>
        <div id="notice"></div>
        <%= f.submit '送信', :id => 'upload' %>
        </div>
      <% end %>
    </div>
  <% end %>
</header>

<div id="content">
<%= yield %>
</div>
<footer>
  &copy; Copyright 2011 yokohama.rb &amp; minami.rb
</footer>
</div>
</body>
</html>
